@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html, #home{
    height: 100%;
    overflow-x: hidden;   
}
#home{
    height: 100vh;
}


body {
    background: url(imagens/capa.png),
                url(imagens/ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial,  sans-serif;

}
nav.navbar-transparente{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);

}
header li{
    color: white;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;

}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #9bf0e1;

}
#home{
    text-align: center;
}
#home h1{
    color: white;
    font-weight: 900;
    letter-spacing: -.05em;
    margin-bottom: 50px;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.5);
}
.divisor{
  width: 1px;
  background: white;
  margin: 12px 15px;  
}

.btn-custom{
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background-color 0.4s, color 0.4s;
    padding: 10px 15px;
}
.btn-roxo{
    background: #7c25f8;
}
.btn-roxo:hover{
    background: #6207e3;
    color: white
}
#branco{
    border: 2px white solid;
}
#branco:hover{
    background: white;
    color: black;
}
.carousel-control-next, .carousel-control-prev {
    font-size: 4rem;
    width: 10%;
    
}

/*Conteúdos*/
#servicos{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.albuns{
    padding: 10px 0;
}
#servicos h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -.04em;
    color: #7c25f8;
}
#servicos h3{
    font-weight: 700;
    font-size: 2em;    
    letter-spacing: -.04em;
    color: #7c25f8;
}
#servicos p{
    font-weight: 500;
}

#facil{
    padding: 20px 0;
}
#facil h2{
    color: white ;
    font-weight: 700;
    font-size: 3em;
}
#facil h3{
    color: #9bf0e1;
    font-weight: 700;
    font-size: 2em;
}
#facil p{
    color: white;
    font-weight: 600;
}
/*RODAPÉ*/
footer{
    background: black;
    padding: 50px 0px 20px 0px;    
    position: relative;
}


.girar{
    transform: rotate(30deg);
    padding-left: 80px;
}
footer h4{
    color: #919496;
    font-size: .8em;
    margin-right:  10px;
}
footer .navbar-nav a{
    color: white;
    font-size: .8em;
}
footer .navbar-nav a:hover{
    text-decoration: none;
    color: #9bf0e1;
}
footer ul{
    list-style: none;
}
footer li{
    float: right;
    margin: 0 5px;
}


@media (max-width: 576px){
    nav.navbar-transparente{
    padding: 15px 10px;

    }
    h1{
        font-size: 2em;
    }
    .btn-custom{
        margin: 10px 15px;
    }
    .foto{
        margin-bottom: 20px;
    }
    .girar{
    display: none;
    }
    footer ul img{
        width: 30px;
        margin-bottom: 10px;
    }
    footer ul img:hover{
        width: 32px;
        margin-bottom: 8px;
    }
    footer .row{
    padding: 0;
    }
    footer #redes li{
    margin: 0 50px;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    h1{
        font-size: 3em;
    }
    nav.navbar-transparente{
    padding: 15px 10px;

    }
    .btn-custom{
        margin: 10px 15px;
    }
    .foto{
        margin-bottom: 20px;
    }
    .girar{
    display: none;
    }
    footer ul img{
        width: 30px;
        margin: 5px;
    }
    footer ul img:hover{
        width: 32px;
        margin-bottom: 3px;
    }
    footer li img{
    margin-left:50px;
    }
}
@media (min-width: 768px ) and (max-width: 992px){
    h1{
        font-size: 4em;
    }
    .foto{
        margin-bottom: 20px;
    }
    .girar{
    display: none;
    }
    footer ul img{
        width: 40px;
        margin: 5px;
    }
    footer ul img:hover{
        width: 45px;
        margin-right: 0px;
    }
    footer #redes li{
        margin: 2px;
    }
    footer #redes{
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    h1{
        font-size: 5em;
    }
}
@media (min-width: 1200px){
    h1{
        font-size: 6em;
    }
}
